
<!--
<p>
  <strong>Commenter:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>
-->

<li class="list-group-item">
@<%= comment.commenter %> <br>   <%= comment.body %>
</li>